<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="./css/home.css"/>
<head>
<title>Order Detail</title>
</head>
<body>
<div id= "container">
<header>
<h1>Order Details</h1>
</header>
<main>
<a th:href="@{/customer(id=${order.customer.customerId})}" th:text="'Customer: ' + ${order.customer.fullName}"></a>
<ul th:each= "product : ${order.products}" >
<li th:text=" 'Product Name: ' + ${product.productName} + 
'; Price: ' + ${product.productPrice} + '; Cost: ' + 
${product.productCost}"></li>
</ul>
<a href="customerorders.html">Home</a> 
</main>
</div>
<script src="./js/reviewsiteapp.js"></script>
</body>
</html>